@using JJ.Apps.SetText.Resources

@model JJ.Apps.SetText.ViewModels.SetTextViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Titles.SetText</title>
</head>
<body>

    @using (Html.BeginForm()) 
    {

        <h2>@Titles.SetText</h2>
        <p>
            @Labels.Text
        </p>

        <p>
            @Html.TextAreaFor(x => x.Text)
            @Html.ValidationMessageFor(x => x.Text)
        </p>

        <p>
            <input type="submit" value="@Titles.SetText" />
        </p>
        
        if (Model.TextWasSavedMessageVisible) 
        {
            <p>
                @Messages.Saved
            </p>
        }

        foreach (var validationMessage in Model.ValidationMessages)
        {
            <p style="color:red;">
                @validationMessage.Text
            </p>
        }
    }

</body>
</html>
